.single-input-conatainer{
    display: flex;
    flex-direction: row;
    margin: 2px;
    padding: 10px;
    justify-content: space-between;
}

.heading-modal {
    display: flex;
    justify-content: center;
    align-items: center;
}